<!DOCTYPE html>
{{#copyright}}<!--  {{{copyright}}} -->
{{/copyright}}
<html>
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>

    <link rel="stylesheet" href="assets/style/style.css" />

    <script src="node_modules/mod/montage.js" async></script>
    <script type="text/mod-serialization">
    {
        "owner": {
            "prototype": "mod/ui/loader.mod",
            "properties": {
                "mainModule": "ui/welcome.mod",
                "mainName": "Welcome"
            }
        }
    }
    </script>
</head>
<body>
    <span class="loading"></span>
</body>
</html>
